

.section2 {
  /* display: flex; */
  flex-direction: column;
  width: 100%;
}

/* Assurez-vous que les éléments enfants occupent toute la largeur */
.section2 .child-element {
  width: 100%;
  /* Autres styles pour les éléments enfants */
}


   
.rect3 {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  width: 200%; /* Pour occuper toute la largeur de l'écran */
  height: 182px;
  background-color: rgb(0, 97, 177);
  /* z-index: 9999; */
}
.image4 {
  position: absolute;
  top: 44px;
  right: 810px;
  bottom: 1457px;
  left: 28px;
  width: 186px;
  height: 189px;
}
.image41 {
  position: absolute;
  top: 587px;
  right: 782px;
  bottom: 914px;
  left: 56px;
  width: 186px;
  height: 189px;
}
.medium_title {
  position: absolute;
  top: 220px;
  right: 491px;
  bottom: 1642px;
  left: 30px;
  width: 210px;
  height: 28px;
  font: 700 25px/1.15 "Roboto", Helvetica, Arial, serif;
  color: rgb(0, 97, 177);
}
.text2 {
  position: absolute;
  top: 280px;
  right: 838px;
  bottom: 1390px;
  left: 45px;
  width: 166px;
  height: 15px;
  font: 500 14px/1.17 "Roboto", Helvetica, Arial, serif;
  color: rgb(169, 206, 244);
}
.highlight {
  position: absolute;
  top: 280px;
  right: 782px;
  bottom: 1361px;
  left: 30px;
  width: 202px;
  height: 18px;
  font: 400 15px/1.2 "Roboto", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
}
.image5 {
  position: absolute;
  top: 330px;
  right: 319px;
  bottom: 1364px;
  left: 685px;
  width: 23px;
  height: 24px;
  color: rgb(0, 97, 177);
}

.image9 {
  position: absolute;
  top: 250px;
  right: 318px;
  bottom: 1475px;
  left: 685px;
  width: 21px;
  height: 25px;
  color: rgb(0, 97, 177);
}
.image7 {
  position: absolute;
  top: 290px;
  right: 323px;
  bottom: 1408px;
  left: 685px;
  width: 24px;
  height: 25px;
  color: rgb(0, 97, 177);
}
.medium_title1 {
  position: relative;
  top: 510px;
  /* right: 775px; */
  bottom: 1416px;
  left: -140px;
  width: 210px;
  height: 29px;
  font: 700 25px/1.15 "Roboto", Helvetica, Arial, serif;
  color: rgb(0, 97, 177);
}
.menu {
  display: flex;
}

.menu a {
  margin-right: 20px; /* Espace entre les liens */
  text-decoration: none; /* Supprimer les soulignements par défaut des liens */
  color: rgb(130, 130, 130); /* Couleur par défaut */
}

.menu a:last-child {
  margin-right: 0; /* Pour supprimer la marge à droite du dernier élément */
}

.menu a:hover {
  text-decoration: underline; /* Ajouter une soulignement lorsqu'on survole les liens */
  color:blue;
}

.highlight1 {
  position: relative;
  top: 390px;
  right: 863px;
  bottom: 1241px;
  left: 64px;
  width: 197px;
  height: 18px;
  font: 700 15px/1.2 "Roboto", Helvetica, Arial, serif;
  color: rgb(130, 130, 130);
}


.highlight5 {
  margin-bottom: 20px; /* Espace entre les éléments avec la classe highlight5 */
  position: relative;
  top: 170px;
  right: 93px;
  bottom: 1441px;
  left: 729px;
  width: 202px;
  height: 18px;
  font: 400 15px/1.2 "Roboto", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
}




.rect4 {
  position: absolute;
  top: 455px;
  right: 924px;
  bottom: 1230px;
  left: 64px;
  width: 36px;
  height: 5px;
  background-color: rgb(0, 97, 177);
  border-radius: 2px 2px 2px 2px;
}
.line {
  position: absolute;
  top: 452px;
  right: 40px;
  bottom: 1237px;
  left: 40px;
  width: auto;
  height: 1px;
  background-color: rgb(230, 230, 230);
}

.highlight21 {
  position: absolute;
  top: 431px;
  right: 342px;
  bottom: 1241px;
  left: 534px;
  width: 148px;
  height: 18px;
  font: 400 15px/1.2 "Roboto", Helvetica, Arial, serif;
  color: rgb(130, 130, 130);
}
.subtitle {
  position: absolute;
  top: 606px;
  right: 43px;
  bottom: 904px;
  left: 325px;
  width: 656px;
  height: 180px;
  font: 400 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: justify;
}
.subtitle1 {
  position: absolute;
  top: 571px;
  right: 549px;
  bottom: 1089px;
  left: 323px;
  width: 152px;
  height: 30px;
  font: 700 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
}
.rect5 {
  position: absolute;
  top: 549px;
  right: 593px;
  bottom: 1142px;
  left: 325px;
  width: auto;
  height: -1px;
  background-color: rgb(0, 97, 177);
  border-radius: 2px 2px 2px 2px;
}
.medium_title11 {
  font: 700 25px/1.52 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: justify;
}
.medium_title11_box {
  position: absolute;
  top: 860px;
  right: 49px;
  bottom: 110px;
  left: 50px;
  width: 925px;
  height: 720px;
}
.medium_title11_span0 {
  font: 700 1em/1.52 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 97, 177);
}
.medium_title11_span1 {
  font: 700 0.8em/1.5 "Poppins", Helvetica, Arial, serif;
}
.medium_title11_span2 {
  font: 0.8em/1.5 "Poppins", Helvetica, Arial, serif;
}
.medium_title11_span3 {
  font: 700 1em/1.52 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 97, 177);
}
.medium_title11_span4 {
  font: 0.8em/1.5 "Poppins", Helvetica, Arial, serif;
}
.medium_title11_span5 {
  font: 700 1em/1.52 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 97, 177);
}
.medium_title11_span6 {
  font: 700 0.8em/1.5 "Poppins", Helvetica, Arial, serif;
}
.medium_title11_span7 {
  font: 0.8em/1.5 "Poppins", Helvetica, Arial, serif;
}
.medium_title11_span8 {
  font: 1em/1.52 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 97, 177);
}
.medium_title11_span9 {
  font: 700 1em/1.52 "Poppins", Helvetica, Arial, serif;
  color: rgb(0, 97, 177);
}
.medium_title11_span10 {
  font: 0.8em/1.5 "Poppins", Helvetica, Arial, serif;
}



.image6 {
  position: absolute;
  top: 264px;
  right: 317px;
  bottom: 1402px;
  left: 683px;
  width: 24px;
  height: 24px;
  border-radius: 12px 12px 12px 12px;
}


.image61 {
  position: absolute;
  top: 226px;
  right: 317px;
  bottom: 1440px;
  left: 683px;
  width: 24px;
  height: 24px;
  border-radius: 12px 12px 12px 12px;
}
.image8 {
  position: absolute;
  top: 231px;
  right: 321px;
  bottom: 1445px;
  left: 688px;
  width: 15px;
  height: 14px;
}
.highlight6 {
  position: absolute;
  top: 194px;
  right: 93px;
  bottom: 1478px;
  left: 729px;
  width: 202px;
  height: 18px;
  font: 400 15px/1.2 "Roboto", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
}

