

.post-lcsi-container {
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 1024px;
    height: 100%;
   
  }
  .post-cover {
    position: absolute;
    top: 20px;
    right: 0px;
    bottom: 262px;
    left: 0px;
    width: 100%;
    height: 357px;
  }
  .post-hero_title {
      position: absolute;
      top: 90px;
      right: 408px;
      bottom: 347px;
      left: 35px;
      width: 581px;
      height: 195px;
      font: 400 48px/1.35 "Open Sans", Helvetica, Arial, serif;
      color: rgb(255, 255, 255);
    }
    .post-ep1 {
      position: absolute;
      right: 300px; 
      top:100px;
     
    
    }
    .post-ep2{
      position: absolute;
      right: 180px; 
      top:100px;
      }
     .post-ep3{
      position: absolute;
    right: 240px; 
      top:195px;
     }
  
    
    .post-image {
      position: relative;
      width: 95%; /* Ajustement de la largeur */
      height: auto; /* Hauteur automatique */
      border-radius: 5px;
      float: left; /* Alignement à gauche */
    }
    
    .post-image1 {
      position: absolute;
      top: 12px;
      left: 35px; 
      width: 29px;
      height: 35px;
      color:#0061B1;
    }
    
    .post-info {
      position: absolute;
      bottom: 35px; /* Ajustez selon votre besoin */
      left: 20px; /* Ajustez selon votre besoin */
      width: 61px;
      height: 16px;
      font: 600 12px/1.33 "Open Sans", Helvetica, Arial, serif;
      color: rgb(0, 0, 0);
    }
    .post-info2 {
      position: absolute;
      top: 50px;
      right: 26px;
      bottom: 359px;
      display: flex;
      justify-content: center;
      width: 59px;
      height: 32px;
      font: 600 12px/1.33 "Open Sans", Helvetica, Arial, serif;
      color: rgb(0, 0, 0);
      text-align: center;
    }
    
     .post-rect {
      position:absolute;
      top: 376px;
      display:flex;
      bottom: 0px;
      width: 100%;
      height: 152px;
      margin-left: -8px;
      background-color: #0061B1;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
    }
    
   
  
  .post-medium-title {
    margin-right: 140px; 
    font: 700 24px/1.37 "Open Sans", Helvetica, Arial, serif;
    color: white;
    display: inline-block;  
    padding-left:77px;
    padding-top:38px;
  }
  
  .soutenance-container {
    display: flex;
  }
  
  .soutenance-blog {
    display: flex;
    align-items: center;  /* Align items vertically */
  }
  
  .soutenance-blog_subtitle {
    font-size: 20px;
    margin-right: 30px;
    color:white;
  }
  

  
  .soutenance-sidebar {
    display: flex;
    align-items: center;
    margin-top: 580px;
  }
  
  .soutenance-search {
    display: flex;
    margin-left: 80px; 
    margin-right:80px;
  }
  
  .soutenancesearch-button {
    display: flex;
    padding: 12px 26px;
    background-color: #0061B1;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 12px 0;
  }
  
  .soutenance-evenements {
    display: flex;
  }
  
  .soutenance-evenements a {
    display: flex;
    padding: 10px 20px;
    color: #0061B1;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  

  .post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .post-evenement-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 20px 0;
    margin-left:240px;
  }
  
  .post-evenement {
    width: 250px;
    height: 340px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    background-color: white;
  }
  
  .post-evenement-s1 {
    width: 100%;
  }
  
  .post-evenement-title {
    color: #0061B1;
    font-size: 17px;
    font-weight: 500;
  }
  
  .post-evenement-type {
    color: #0061B1;
    font-weight: 200;
  }
  
  .post-evenement-s2 {
    padding: 7px;
    font-size: 13px;
    text-align: center;
    width: 100%;
    overflow-y: auto;
  }
  
  .post-evenement-description {
    font-size: 12px;
    width: 90%;
    text-align:left;
    margin: auto;
  }
  
  .post-evenement-date {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 12px;
    padding: 2px;
    text-align: center;
    border-radius: 5px 0px 5px 0px;
    top: 0;
    left: 0;
    width: 55px;
    height: 50px;
    background-color: #0061B1;
    color: white;
  }
  
  .post-evenement-img-cont {
    position: relative;
  }
  
  .post-evenement-img {
    width: 100%;
    height: 160px;
    border-radius: 5px 5px 0px 0px;
  }






  .poste-evenement-date {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 12px;
    padding: 2px;
    text-align: center;
    border-radius: 5px 0px 5px 0px;
    top:0;
    left: 0;
    width: 55px;
    height: 50px;
    background-color: #0061B1;
    color: white;
  }
  
  .sout-evenement-buttons {
    position:absolute;
    display: flex;
    top:650px;
    left:20px;
    flex-direction: column; /* Afficher les cartes en colonne */
    gap: 25px; 
    
  }
  
  .sout-evenement {
    width: 250px;
    height: auto;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  
  .sout-evenement-s2 {
    padding: 7px;
    font-size: 13px;
    text-align: center;
  }
  
  .sout-evenement-description {
    font-size: 12px;
    width: 100%;
    text-align: left;
    margin: auto;
  }
  
  .sout-evenement-title {
    color: #0061B1;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top:-40px;
    text-align: center; /* Centrer le titre */
  }
  
  .titles {
    display: flex;
    align-items: center;
  }
  
  .title {
    margin-right: 120px;
    margin-left:40px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #0061B1; /* Couleur bleue */
  }
  .contact-info {
    margin-top: 20px; /* Espacement entre les titres et le texte/button */
    display: flex;
    margin-left:40px;
    flex-direction: column;
    align-items: flex-start; /* Aligne les éléments à droite */
    justify-content: flex-start; /* Aligne les éléments en haut */
  }
  
  .contact-info span {
    font-size: 16px;
    color: #333; /* Couleur du texte */
    margin-bottom: 10px; /* Espacement entre le texte et le bouton */
  }
  
  .contact-info button {
    background-color: #fff; /* Couleur de fond blanche */
    color: #0061B1; /* Couleur du texte bleue */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Ombre */
  }
  
  .contact-info button:hover {
    cursor: pointer;
  }
  .appel-evenement-buttons-container {
    position: relative; /* Position relative par rapport à son parent */
  }
  
  .appel-evenement-buttons {
    position: absolute; /* Positionnement absolu */
    top: -60px; /* Déplacement vers le haut */
    left:280px; /* Déplacement vers la droite */
  }
  
  .appel-evenement {
    width: 780px; /* Largeur de la carte */
    height: auto; /* Hauteur ajustée en fonction du contenu */
    border-radius: 10px; /* Bord arrondi */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
    padding: 20px; /* Espacement interne */
    background-color: #ffffff; /* Couleur de fond */
  }
  
  .appel-evenement-title {
    color: #0061B1; /* Couleur du titre */
    font-size: 18px; /* Taille du titre */
    font-weight: bold; /* Gras */
    margin-bottom: 10px; /* Marge basse */
  }
  
  .appel-evenement-description {
    font-size: 14px; /* Taille de la description */
    margin-bottom: 10px; /* Marge basse */
  }
  
  .appel-evenement-img {
    width: 100px; /* Largeur de l'image */
    height: auto; /* Hauteur ajustée automatiquement */
    margin-right: 20px; /* Marge à droite de l'image */
  }
  