@use "../utils" as *;
@use "../global" as *;

.root {
  background-color: rgb(248, 248, 255);
  display: flex;
  flex-direction: column;
  height: 2206px;
  width: 100%;
}
.rect1 {
  background-color: rgb(0, 97, 177);
  bottom: 1686px;
  height: 435px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 85px;
  width: 100%;
}
.subtitle {
  bottom: 1998px;
  color: rgb(255, 255, 255);
  font: 800 21px/1.52 "Poppins", Helvetica, Arial, serif;
  height: 64px;
  left: 38px;
  position: absolute;
  right: 432px;
  top: 144px;
  width: 554px;
}
.highlight {
  bottom: 1921px;
  color: rgb(255, 255, 255);
  font: 400 15px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 69px;
  left: 38px;
  position: absolute;
  right: 432px;
  top: 216px;
  width: 554px;
}
.text {
  align-items: center;
  bottom: 1889px;
  color: rgb(245, 158, 11);
  display: flex;
  font: 600 14px/2.28 "Poppins", Helvetica, Arial, serif;
  height: 32px;
  left: 38px;
  position: absolute;
  right: 964px;
  top: 285px;
  width: 22px;
}
.image {
  bottom: 1900px;
  height: 10px;
  left: 64px;
  position: absolute;
  right: 950px;
  top: 296px;
  width: 10px;
}
.image1 {
  bottom: 1900px;
  height: 10px;
  left: 128px;
  position: absolute;
  right: 886px;
  top: 296px;
  width: 10px;
}
.image2 {
  bottom: 1900px;
  height: 10px;
  left: 112px;
  position: absolute;
  right: 902px;
  top: 296px;
  width: 10px;
}
.image3 {
  bottom: 1900px;
  height: 10px;
  left: 96px;
  position: absolute;
  right: 918px;
  top: 296px;
  width: 10px;
}
.image4 {
  bottom: 1900px;
  height: 10px;
  left: 80px;
  position: absolute;
  right: 934px;
  top: 296px;
  width: 10px;
}
.text1 {
  bottom: 1822px;
  color: rgb(255, 255, 255);
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 38px;
  position: absolute;
  right: 876px;
  top: 364px;
  width: 110px;
}
.text11 {
  color: rgb(255, 255, 255);
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
}
.text11_box {
  bottom: 1846px;
  height: 20px;
  left: 39px;
  position: absolute;
  right: 795px;
  top: 340px;
  width: 190px;
}
.text11_span0 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text11_span1 {
  font: 600 1em/1.53 "Poppins", Helvetica, Arial, serif;
  text-decoration: underline;
}
.text11_box1 {
  bottom: 1798px;
  height: 20px;
  left: 54px;
  position: absolute;
  right: 853px;
  top: 388px;
  width: 117px;
}
.text11_span11 {
  font: 900 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text11_span2 {
  font: 500 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text11_span3 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.image11 {
  bottom: 1802px;
  height: 12px;
  left: 38px;
  position: absolute;
  right: 974px;
  top: 392px;
  width: 12px;
}
.rect2 {
  background-color: rgb(236, 203, 125);
  bottom: 1872px;
  height: 15px;
  left: 39px;
  position: absolute;
  right: 936px;
  top: 319px;
  width: 49px;
}
.info {
  align-items: center;
  bottom: 1869px;
  color: rgb(0, 0, 0);
  display: flex;
  font: 500 9px/2.22 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 44px;
  position: absolute;
  right: 941px;
  top: 317px;
  width: 39px;
}
.text2 {
  color: rgb(255, 255, 255);
  font: 500 13px/1.53 "Poppins", Helvetica, Arial, serif;
}
.text2_box {
  bottom: 1774px;
  height: 20px;
  left: 38px;
  position: absolute;
  right: 859px;
  top: 412px;
  width: 127px;
}
.text2_span0 {
  font: 500 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text2_span1 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.rect3 {
  background-color: rgb(255, 255, 255);
  border-radius: 5px 5px 5px 5px;
  bottom: 1361px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  height: 693px;
  left: 630px;
  position: absolute;
  right: 43px;
  top: 152px;
  width: 351px;
}
.image21 {
  border-radius: 6px 6px 6px 6px;
  bottom: 1805px;
  height: 241px;
  left: 639px;
  position: absolute;
  right: 53px;
  top: 160px;
  width: 332px;
}
.highlight1 {
  align-items: center;
  bottom: 1746.5px;
  color: rgb(0, 0, 0);
  display: flex;
  font: 600 15px/1.33 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 644px;
  position: absolute;
  right: 204px;
  top: 439.5px;
  width: 176px;
}
.text3 {
  bottom: 1433px;
  color: rgb(0, 0, 0);
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 645px;
  position: absolute;
  right: 157px;
  top: 753px;
  width: 222px;
}
.image31 {
  bottom: 1635px;
  height: 21px;
  left: 644px;
  position: absolute;
  right: 367px;
  top: 550px;
  width: 13px;
}
.image41 {
  bottom: 1643px;
  height: 10px;
  left: 650px;
  position: absolute;
  right: 366px;
  top: 553px;
  width: 8px;
}
.text31 {
  align-items: center;
  bottom: 1604px;
  color: rgb(0, 0, 0);
  display: flex;
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 667px;
  position: absolute;
  right: 142px;
  top: 582px;
  width: 215px;
}
.text32 {
  align-items: center;
  bottom: 1572.5px;
  color: rgb(0, 0, 0);
  display: flex;
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 667px;
  position: absolute;
  right: 201px;
  top: 613.5px;
  width: 156px;
}
.text33 {
  align-items: center;
  bottom: 1541px;
  color: rgb(0, 0, 0);
  display: flex;
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 667px;
  position: absolute;
  right: 294px;
  top: 645px;
  width: 63px;
}
.image5 {
  bottom: 1542px;
  height: 17px;
  left: 643px;
  position: absolute;
  right: 366px;
  top: 647px;
  width: 15px;
}
.image6 {
  bottom: 1602px;
  height: 23px;
  left: 642px;
  position: absolute;
  right: 367px;
  top: 581px;
  width: 15px;
}
.text34 {
  align-items: center;
  bottom: 1635.5px;
  color: rgb(0, 0, 0);
  display: flex;
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 667px;
  position: absolute;
  right: 175px;
  top: 550.5px;
  width: 182px;
}
.image7 {
  bottom: 1701px;
  height: 18px;
  left: 644px;
  position: absolute;
  right: 365px;
  top: 487px;
  width: 15px;
}
.text35 {
  align-items: center;
  bottom: 1667px;
  color: rgb(0, 0, 0);
  display: flex;
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 667px;
  position: absolute;
  right: 161px;
  top: 519px;
  width: 196px;
}
.image8 {
  bottom: 1574px;
  height: 19px;
  left: 642px;
  position: absolute;
  right: 367px;
  top: 613px;
  width: 15px;
}
.image9 {
  bottom: 1584px;
  height: 7px;
  left: 648px;
  position: absolute;
  right: 368px;
  top: 615px;
  width: 8px;
}
.image10 {
  bottom: 1586px;
  height: 4px;
  left: 649px;
  position: absolute;
  right: 369px;
  top: 616px;
  width: 6px;
}
.text4 {
  color: rgb(20, 77, 124);
  font: 500 13px/1.53 "Poppins", Helvetica, Arial, serif;
  text-decoration: underline;
}
.text4_box {
  align-items: center;
  bottom: 1507.5px;
  display: flex;
  height: 20px;
  left: 644px;
  position: absolute;
  right: 300px;
  top: 678.5px;
  width: 80px;
}
.text4_span0 {
  color: rgb(19, 76, 123);
  font: 500 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text4_span1 {
  color: rgb(19, 76, 123);
  font: 500 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text4_span2 {
  color: rgb(19, 76, 123);
  font: 700 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text4_span3 {
  color: rgb(19, 76, 123);
  font: 500 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text41 {
  color: rgb(20, 77, 124);
  font: 500 13px/1.53 "Poppins", Helvetica, Arial, serif;
}
.text41_box {
  align-items: center;
  bottom: 1507.5px;
  display: flex;
  height: 20px;
  left: 714px;
  position: absolute;
  right: 227px;
  top: 678.5px;
  width: 83px;
}
.text41_span0 {
  color: rgb(19, 76, 123);
  font: 500 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text41_span1 {
  color: rgb(19, 76, 123);
  font: 500 1em/1.53 "Poppins", Helvetica, Arial, serif;
  text-decoration: underline;
}
.text36 {
  align-items: center;
  bottom: 1698.5px;
  color: rgb(0, 0, 0);
  display: flex;
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 667px;
  position: absolute;
  right: 146px;
  top: 487.5px;
  width: 211px;
}
.image111 {
  bottom: 1669px;
  height: 17px;
  left: 644px;
  position: absolute;
  right: 366px;
  top: 520px;
  width: 14px;
}
.text5 {
  bottom: 1461px;
  color: rgb(0, 0, 0);
  font: 600 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 645px;
  position: absolute;
  right: 265px;
  top: 725px;
  width: 114px;
}
.image12 {
  border-radius: 13.58px 13.58px 13.58px 13.58px;
  bottom: 1393px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.247));
  height: 27px;
  left: 645px;
  position: absolute;
  right: 297px;
  top: 786px;
  width: 82px;
}
.text6 {
  align-items: center;
  bottom: 1397.5px;
  color: rgb(255, 255, 255);
  display: flex;
  font: 600 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 658px;
  position: absolute;
  right: 315px;
  top: 788.5px;
  width: 51px;
}
.subtitle1 {
  align-items: center;
  bottom: 1623px;
  color: rgb(0, 0, 0);
  display: flex;
  font: 600 21px/0.95 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 38px;
  position: absolute;
  right: 715px;
  top: 563px;
  width: 271px;
}
.text37 {
  bottom: 1438px;
  color: rgb(0, 0, 0);
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 160px;
  left: 38px;
  position: absolute;
  right: 432px;
  top: 608px;
  width: 554px;
}
.rect4 {
  border-radius: 10px 10px 10px 10px;
  bottom: 1410px;
  height: 247px;
  left: 14px;
  outline: 1px solid rgba(0, 97, 177, 0.639);
  outline-offset: -1px;
  position: absolute;
  right: 423px;
  top: 549px;
  width: 587px;
}
.subtitle11 {
  align-items: center;
  bottom: 583px;
  color: rgb(0, 0, 0);
  display: flex;
  font: 600 21px/0.95 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 38px;
  position: absolute;
  right: 641px;
  top: 1603px;
  width: 345px;
}
.text38 {
  bottom: 498px;
  color: rgb(0, 0, 0);
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 60px;
  left: 38px;
  position: absolute;
  right: 432px;
  top: 1648px;
  width: 554px;
}
.rect5 {
  border-radius: 10px 10px 10px 10px;
  bottom: 471px;
  height: 146px;
  left: 14px;
  outline: 1px solid rgba(0, 97, 177, 0.639);
  outline-offset: -1px;
  position: absolute;
  right: 423px;
  top: 1589px;
  width: 587px;
}
.image13 {
  bottom: 945px;
  height: 10px;
  left: 746px;
  position: absolute;
  right: 261px;
  top: 1251px;
  width: 17px;
}
.image14 {
  bottom: 15px;
  height: 17px;
  left: 746px;
  position: absolute;
  right: 261px;
  top: 2174px;
  width: 17px;
}
.text7 {
  bottom: 13px;
  color: rgb(255, 255, 255);
  font: 500 14px/1.5 "Poppins", Helvetica, Arial, serif;
  height: 21px;
  left: 280px;
  position: absolute;
  right: 278px;
  top: 2172px;
  width: 466px;
}
.paragraph {
  bottom: 152px;
  color: rgb(0, 0, 0);
  font: 400 14px/1.35 "Open Sans", Helvetica, Arial, serif;
  height: 114px;
  left: 568px;
  position: absolute;
  right: 287px;
  top: 1940px;
  width: 169px;
}
.paragraph1 {
  bottom: 113px;
  color: rgb(0, 0, 0);
  font: 400 14px/1.35 "Open Sans", Helvetica, Arial, serif;
  height: 152px;
  left: 791px;
  position: absolute;
  right: 48px;
  top: 1941px;
  width: 185px;
}
.highlight2 {
  color: rgb(0, 0, 0);
  font: 700 16px/1.37 "Open Sans", Helvetica, Arial, serif;
}
.highlight2_box {
  bottom: 124px;
  height: 176px;
  left: 333px;
  position: absolute;
  right: 510px;
  top: 1906px;
  width: 181px;
}
.highlight2_span0 {
  font: 700 1em/1.37 "Open Sans", Helvetica, Arial, serif;
}
.highlight2_span1 {
  font: 0.875em/1.35 "Open Sans", Helvetica, Arial, serif;
}
.highlight21 {
  bottom: 278px;
  color: rgb(0, 0, 0);
  font: 700 16px/1.37 "Open Sans", Helvetica, Arial, serif;
  height: 22px;
  left: 568px;
  position: absolute;
  right: 349px;
  top: 1906px;
  width: 107px;
}
.highlight22 {
  bottom: 278px;
  color: rgb(0, 0, 0);
  font: 700 16px/1.37 "Open Sans", Helvetica, Arial, serif;
  height: 22px;
  left: 790px;
  position: absolute;
  right: 32px;
  top: 1906px;
  width: 202px;
}
.image15 {
  bottom: 185px;
  height: 100px;
  left: 37px;
  position: absolute;
  right: 745px;
  top: 1921px;
  width: 242px;
}
.image16 {
  bottom: 105px;
  height: 33px;
  left: 163px;
  position: absolute;
  right: 828px;
  top: 2068px;
  width: 33px;
}
.image17 {
  bottom: 106px;
  height: 32px;
  left: 37px;
  position: absolute;
  right: 973px;
  top: 2068px;
  width: 14px;
}
.image18 {
  bottom: 106px;
  height: 32px;
  left: 88px;
  position: absolute;
  right: 904px;
  top: 2068px;
  width: 32px;
}
.image19 {
  bottom: 108px;
  height: 27px;
  left: 230px;
  position: absolute;
  right: 763px;
  top: 2071px;
  width: 31px;
}
.rect8 {
  background-color: rgb(255, 255, 255);
  bottom: 2121px;
  height: 85px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 1024px;
}
.image20 {
  bottom: 2126px;
  height: 60px;
  left: 39px;
  position: absolute;
  right: 842px;
  top: 20px;
  width: 143px;
}
.cover {
  bottom: 2163px;
  height: 43px;
  left: 258px;
  position: absolute;
  right: 66px;
  top: 0px;
  width: 700px;
}
.rect10 {
  background-color: rgb(0, 97, 177);
  border-radius: 2.5px 2.5px 2.5px 2.5px;
  bottom: 2128px;
  height: 5px;
  left: 697px;
  position: absolute;
  right: 169px;
  top: 73px;
  width: 158px;
}
.image181 {
  bottom: 2169px;
  height: 32px;
  left: 291px;
  position: absolute;
  right: 701px;
  top: 5px;
  width: 32px;
}
.rect11 {
  background-color: rgb(0, 97, 177);
  bottom: 2178px;
  height: 16px;
  left: 278px;
  position: absolute;
  right: 720px;
  top: 12px;
  width: 26px;
}
.text12 {
  bottom: 2176px;
  color: rgb(255, 255, 255);
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 291px;
  position: absolute;
  right: 707px;
  top: 10px;
  width: 26px;
}
.text13 {
  bottom: 2175px;
  color: rgb(255, 255, 255);
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 329px;
  position: absolute;
  right: 609px;
  top: 11px;
  width: 86px;
}
.text14 {
  align-items: flex-end;
  bottom: 2174px;
  color: rgb(255, 255, 255);
  display: flex;
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 430px;
  position: absolute;
  right: 529px;
  top: 12px;
  width: 65px;
}
.text15 {
  align-items: flex-end;
  bottom: 2174px;
  color: rgb(255, 255, 255);
  display: flex;
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 510px;
  position: absolute;
  right: 434px;
  top: 12px;
  width: 80px;
}
.text16 {
  align-items: flex-end;
  bottom: 2174px;
  color: rgb(255, 255, 255);
  display: flex;
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 605px;
  position: absolute;
  right: 339px;
  top: 12px;
  width: 80px;
}
.text17 {
  align-items: flex-end;
  bottom: 2174px;
  color: rgb(255, 255, 255);
  display: flex;
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 700px;
  position: absolute;
  right: 272px;
  top: 12px;
  width: 52px;
}
.text18 {
  align-items: flex-end;
  bottom: 2174px;
  color: rgb(255, 255, 255);
  display: flex;
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 767px;
  position: absolute;
  right: 221px;
  top: 12px;
  width: 36px;
}
.image211 {
  bottom: 2176px;
  height: 16px;
  left: 820px;
  position: absolute;
  right: 188px;
  top: 14px;
  width: 16px;
}
.image22 {
  bottom: 2176px;
  height: 18px;
  left: 852px;
  position: absolute;
  right: 154px;
  top: 12px;
  width: 18px;
}
.text19 {
  align-items: flex-end;
  bottom: 2174px;
  color: rgb(255, 255, 255);
  display: flex;
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 876px;
  position: absolute;
  right: 92px;
  top: 12px;
  width: 56px;
}
.image23 {
  bottom: 2137px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.247));
  height: 12px;
  left: 299px;
  position: absolute;
  right: 681px;
  top: 57px;
  width: 44px;
}
.image24 {
  bottom: 2137px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.247));
  height: 11px;
  left: 393px;
  position: absolute;
  right: 555px;
  top: 58px;
  width: 76px;
}
.image25 {
  bottom: 2137px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.247));
  height: 12px;
  left: 519px;
  position: absolute;
  right: 377px;
  top: 57px;
  width: 128px;
}
.image26 {
  bottom: 2137px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.247));
  height: 11px;
  left: 698px;
  position: absolute;
  right: 169px;
  top: 58px;
  width: 157px;
}
.subtitle12 {
  align-items: center;
  bottom: 1326px;
  color: rgb(0, 0, 0);
  display: flex;
  font: 600 21px/0.95 "Poppins", Helvetica, Arial, serif;
  height: 20px;
  left: 38px;
  position: absolute;
  right: 864px;
  top: 860px;
  width: 122px;
}
.text39 {
  color: rgb(0, 0, 0);
  font: 400 13px/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_box {
  bottom: 671px;
  height: 630px;
  left: 38px;
  position: absolute;
  right: 432px;
  top: 905px;
  width: 554px;
}
.text39_span0 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span1 {
  font: 600 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span2 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span3 {
  font: 700 1.5384615384615385em/1.5 "Poppins", Helvetica, Arial, serif;
}
.text39_span4 {
  font: 700 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span5 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span6 {
  font: 600 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span7 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span8 {
  font: 700 1.5384615384615385em/1.5 "Poppins", Helvetica, Arial, serif;
}
.text39_span9 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span10 {
  font: 700 1.5384615384615385em/1.5 "Poppins", Helvetica, Arial, serif;
}
.text39_span11 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span12 {
  font: 700 1.5384615384615385em/1.5 "Poppins", Helvetica, Arial, serif;
}
.text39_span13 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span14 {
  font: 600 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span15 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span16 {
  font: 700 1.5384615384615385em/1.5 "Poppins", Helvetica, Arial, serif;
}
.text39_span17 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span18 {
  font: 700 1.5384615384615385em/1.5 "Poppins", Helvetica, Arial, serif;
}
.text39_span19 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span20 {
  font: 700 1.5384615384615385em/1.5 "Poppins", Helvetica, Arial, serif;
}
.text39_span21 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span22 {
  font: 600 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span23 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span24 {
  font: 700 1.5384615384615385em/1.5 "Poppins", Helvetica, Arial, serif;
}
.text39_span25 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span26 {
  font: 600 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span27 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span28 {
  font: 700 1.5384615384615385em/1.5 "Poppins", Helvetica, Arial, serif;
}
.text39_span29 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span30 {
  font: 600 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.text39_span31 {
  font: 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.rect12 {
  border-radius: 10px 10px 10px 10px;
  bottom: 652px;
  height: 709px;
  left: 14px;
  outline: 1px solid rgba(0, 97, 177, 0.639);
  outline-offset: -1px;
  position: absolute;
  right: 423px;
  top: 845px;
  width: 587px;
}
.image27 {
  bottom: 1598px;
  height: 65px;
  left: 939px;
  position: absolute;
  right: 20px;
  top: 543px;
  width: 65px;
}
.image28 {
  bottom: 1608px;
  height: 49px;
  left: 951px;
  position: absolute;
  right: 32px;
  top: 549px;
  width: 41px;
}
